
**/*.cgi
**/*.o
**/*.cgi
Programas/Servers/dompi_server/dompi_server
*.lib
*.sch-bak
*.o
Programas/Clientes/infoio.cgi/infoio.cgi.o
Programas/Clientes/infoio.cgi/infoio.cgi.o
Programas/Clientes/infoio.cgi/strfunc.o
Programas/Utils/HWUtil/qtcp.d
Programas/Utils/HWUtil/hwutil.d
Programas/Utils/HWUtil/hwutil
*.kicad_pcb-bak
Circuito-IO/fp-info-cache
*.FCStd1
*.blend1
*.d
Gabinete/DPW-Frente-20210615.FCStd
Gabinete/DPW-Caja-20210615.FCStd
*.autosave
*.dia~
*.cgi
Gabinete/FreeCAD/DPW-Caja (copia).FCStd
Gabinete/FreeCAD/DPW-Caja-20210615.FCStd
Gabinete/FreeCAD/DPW-Frente-20210615.FCStd
