
**/*.o
**/*.d
**/*.lib
**/*.*-bak
**/*.*-cache
**/*.FCStd1
**/*.blend1
**/*.d
**/*.autosave
**/*.*~
**/*.stl
Gabinete/DPW-Frente-20210615.FCStd
Gabinete/DPW-Caja-20210615.FCStd
Gabinete/FreeCAD/DPW-Caja (copia).FCStd
Gabinete/FreeCAD/DPW-Caja-20210615.FCStd
Gabinete/FreeCAD/DPW-Frente-20210615.FCStd
Programas/Servers/dompi_server/dompi_server
Programas/Clientes/abmassign.cgi/abmassign.cgi
Programas/Clientes/abmuser.cgi/abmuser.cgi
Programas/Clientes/abmhw.cgi/abmhw.cgi
Programas/Clientes/abmev.cgi/abmev.cgi
Programas/Clientes/dompi_manager/dompi_manager
Programas/Clientes/dompi_manager/Makefile~
Programas/Servers/dompi_netcomm/dompi_netcomm
Programas/Servers/dompi_gpio/dompi_gpio
Programas/Clientes/domcli/Makefile~
Programas/Clientes/domcli/domcli
Circuito-IO/fp-info-cache
Programas/Clientes/clear
Programas/Clientes/infoio.cgi/infoio.cgi
Programas/Servers/dompi_cloud/dompi_cloud
Programas/Clientes/statusio.cgi/statusio.cgi
Programas/Clientes/abmsys.cgi/abmsys.cgi
Programas/Servers/dompi_gsm/dompi_gsm
Programas/Html/images/Thumbs.db
Programas/Html/images/w/Thumbs.db
.vscode/c_cpp_properties.json
*.zip
Circuito-IO/DomPiWeb.html
Circuito-IO/DomPiWeb.wrl
Circuito-IO/DomPiWeb.xml
Circuito-IO/footprints.pretty/SRR1210-470M.kicad_mod
Circuito-IO/gbr/DomPiWeb-F_Cu.gbr.ngc
Config/.DomPiWebDB.sqll3
Documentos/DMG2305UX.pdf
Documentos/Mayer/Mayer - Cuentas para transferencia.xls
Documentos/Mayer/Pirri Walter Presupuesto Nº 234095 19-11-21.pdf
Gabinete/OpenSCAD/Montaje.obj
Gabinete/OpenSCAD/Montaje.ply
Programas/Clientes/abmauto.cgi/abmauto.cgi
*.tmp
gmonitor_dompiweb_install.tar.gz
gmonitor_dompiweb_update.tar.gz
Programas/Clientes/abmat.cgi/abmat.cgi
Programas/Clientes/abmgroup.cgi/abmgroup.cgi
Programas/Servers/dompi_abm/dompi_abm
Circuito-IO/Thumbs.db
Programas/Clientes/abmalarma.cgi/abmalarma.cgi
Programas/Servers/dompi_garnet/dompi_garnet
Gabinete/OpenSCAD/Thumbs.db
