/*
	Colores:
		black					gray
		silver				white  	 
		red					lime
		blue 	 				yellow
		aqua					fuchsia 	 
		maroon				orange
		olive					purple
		green					navy
		teal 	 

*/
body {
	font-family: Verdana, Arial, sans-serif;
	background:black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

.icon-btn {
	border: 0px;
	width: 32px;
	height: 32px;
	}