/*
	Colores:
		black					gray
		silver				white  	 
		red					lime
		blue 	 				yellow
		aqua					fuchsia 	 
		maroon				orange
		olive					purple
		green					navy
		teal 	 

*/
body {
	font-family: Verdana, Arial, sans-serif;
	background:black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

.icon-btn {
	border: 0px;
	width: 32px;
	height: 32px;
	}

.back-btn {
	z-index: 10;
	position: absolute; 
	left: 10px; 
	top: 10px; 
	width: 150px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	background: green;
	color: white;
	cursor: pointer;
	}

.normal-btn {
	z-index: 10;
	position: absolute; 
	width: 150px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	cursor: pointer;
	color: white;
	}
	
/* En config.php */

#btn-config-usuarios {
	left: 255px; 
	top: 95px; 
	background: olive;
}

#btn-config-sistema {
	left: 415px; 
	top: 95px; 
	background: red;
	}

#btn-config-planta {
	left: 575px; 
	top: 95px; 
	background: black;
	}


#btn-config-hard {
	left: 95px; 
	top: 180px; 
	background: navy;
	}

#btn-config-assign {
	left: 255px; 
	top: 180px; 
	background: maroon;
	}

#btn-config-groups {
	left: 415px; 
	top: 180px; 
	background: green;
	}

#btn-config-events {
	left: 575px; 
	top: 180px; 
	background: fuchsia;
	}

#btn-config-flags {
	left: 95px; 
	top: 265px; 
	background: teal;
	}

#btn-config-crono {
	left: 255px; 
	top: 265px; 
	background: silver;
	}

#btn-config-alarm {
	left: 415px; 
	top: 265px; 
	background: purple;
	}

#btn-config-cameras {
	left: 575px; 
	top: 265px; 
	background: orange;
	}

#btn-config-upload {
	left: 95px; 
	top: 350px; 
	background: maroon;
}

#btn-config-download {
	left: 255px; 
	top: 350px; 
	background: fuchsia;
	}

#btn-config-dummy2 {
	left: 415px; 
	top: 350px; 
	background: black;
	}

#btn-config-dummy3 {
	left: 575px; 
	top: 350px; 
	background: black;
	}
				
/* En plantaN.php */
#btn-planta-config {
	left: 10px; 
	top: 180px; 
	background: navy;
	}

#btn-planta-auto {
	left: 10px; 
	top: 265px; 
	background: brown;
	}

#btn-planta-alarm {
	left: 10px; 
	top: 350px; 
	background: green;
	}

.home-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

.home-image {
	z-index: 20;
	border: 0px;
	cursor: pointer;
	}
	
#home-div {
	position: absolute; 
	left: 170px; 
	top: 10px; 
	width: 685px;
	height: 415px;
	background: black;
	overflow: auto;
	overflow-y: auto;
	}
		
#plano1 {
	z-index: 10;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	}
	
/*  en planta_edit */
#btn-planta-add {
	left: 10px; 
	top: 180px; 
	background: navy;
	}

/* En auto_menu.php */

#btn-config-riego {
	left: 255px; 
	top: 95px; 
	background: olive;
}

#btn-config-calefaccion {
	left: 415px; 
	top: 95px; 
	background: red;
	}

#btn-config-aire {
	left: 575px; 
	top: 95px; 
	background: black;
	}

#btn-config-task {
	left: 95px; 
	top: 180px; 
	background: navy;
	}
	