/*
	Colores:
		black					gray
		silver				white  	 
		red					lime
		blue 	 				yellow
		aqua					fuchsia 	 
		maroon				orange
		olive					purple
		green					navy
		teal 	 

*/
body {
	font-family: Verdana, Arial, sans-serif;
	background: black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

.desktop-group {
	font-weight: bold;
	}

.desktop-group input {
	background: black;
	font-weight: normal;
	color: orange;
	}

.status-text {
	font-weight: normal;
	color: silver;
	}
	
.back-btn {
	z-index: 10;
	position: absolute; 
	left: 10px; 
	top: 10px; 
	width: 150px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	background: orange;
	color: white;
	cursor: pointer;
	}

.submit-btn {
	z-index: 10;
	width: 150px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	background: navy;
	color: white;
	cursor: pointer;
	}

.normal-btn {
	z-index: 10;
	width: 150px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	color: white;
	cursor: pointer;
	}

#desktop {
	}

.list-tb {
	width: 90%;
	border: 0;
	padding: 0;
	text-align: left;
	}

.list-tb-head{
	text-align: center;
	font-weight: bold;
	color: orange;
	}

.list-tb-foot{
	font-weight: bold;
	text-align: right;
	}

.abm-tb {
	width: 100%;
	border: 0;
	padding: 0;
	text-align: left;
	}

.abm-tb-head{
	text-align: center;
	font-weight: bold;
	color: orange;
	}

.abm-tb-foot{
	font-weight: bold;
	text-align: right;
	}

.icon-image {
	border: 0px;
	width: 32px;
	height: 32px;
	}

.mini-icon {
	border: 0px;
	width: 16px;
	height: 16px;
	}

.image {
	border: 0px;
	}
	
.abm-title {
	font-weight: bold;
	color: red;
	}

#index-img {
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	left: 50%;
	top: 50%;
	position: absolute;
}

.scroll-list {
	position: absolute; 
	left: 255px; 
	top: 10px; 
	width: 600px;
	height: 415px;
	border: 1px dotted #fff;
	padding: 2px;
	color: white;
	background: black;
	overflow: auto;
	overflow-x: hidden;
	}
	
.abm-group {
	position: absolute; 
	left: 255px; 
	top: 10px; 
	width: 600px;
	height: 415px;
	border: 1px dotted #fff;
	padding: 2px;
	color: white;
	background: black;
	overflow: auto;
	overflow-x: hidden;
	}

.message-group{
	color: silver;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	}
/* ***************************************************************************
	Area de aplicaciones
*************************************************************************** */

.app-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	cursor: pointer;
	}
	
.app-table {
	width: 100%;
	border: 0;
	padding: 0;
	text-align: center;
	}

#inbtn {
	position: absolute; 
	left: 10px; 
	top: 10px; 
	width: 150px;
	background: green;
	}

#app1 {
	position: absolute; 
	left: 10px; 
	top: 10px; 
	width: 150px;
	background: fuchsia;
	}

#app2 {
	position: absolute; 
	left: 170px; 
	top: 10px; 
	width: 150px;
	background: orangered;
	}

#app3 {
	position: absolute; 
	left: 330px; 
	top: 10px; 
	width: 150px;
	background: green;
	}

#app4 {
	position: absolute; 
	left: 10px; 
	top: 95px; 
	width: 310px;
	background: black;
	}

#app5 {
	position: absolute; 
	left: 330px; 
	top: 95px; 
	width: 150px;
	background: teal;
	}

#app6 {
	position: absolute; 
	left: 10px; 
	top: 180px; 
	width: 150px;
	background: white;
	}
	
#app7 {
	position: absolute; 
	left: 170px; 
	top: 180px; 
	width: 150px;
	background: chocolate;
	}

#app8 {
	position: absolute; 
	left: 330px; 
	top: 180px; 
	width: 150px;
	background: blue;
	text-align: center;
	}

#app9 {
	position: absolute; 
	left: 10px; 
	top: 265px; 
	width: 150px;
	background: teal;
	}

#app10 {
	position: absolute; 
	left: 170px; 
	top: 265px; 
	width: 150px;
	background: gray;
	}

#app11 {
	position: absolute; 
	left: 330px; 
	top: 265px; 
	width: 150px;
	background: lime;
	text-align: center;
	}

#app12 {
	position: absolute; 
	left: 10px; 
	top: 350px; 
	width: 150px;
	background: black;
	}

#app13 {
	position: absolute; 
	left: 170px; 
	top: 350px; 
	width: 310px;
	background: purple;
	}

/* ***************************************************************************
	Area de monitoreo
*************************************************************************** */

.monitor-group {
	color: #000;
	left: 530px; 
	width: 175px;
	height: 125px;
	background: navy;
	border: 3px ridge #000;
	padding: 2px;
	z-index: 10;
	}

.video-window {
	width: 175px;
	height: 125px;
	}

#monitor1 {
	position: absolute; 
	top: 10px; 
	}

#monitor2 {
	position: absolute; 
	top: 150px; 
	}

#monitor3 {
	position: absolute; 
	top: 295px; 
	}

/* ***************************************************************************
	Area de informacion
*************************************************************************** */

.info-group {
	color: #f00;
	width: 400px;
	height: 100px;
	left: 720px; 
	padding: 2px;
	background: #ff0;
	border: 1px dotted #00f;
	z-index: 10;
	}

.icon-pin {
	border: 0px;
	position: relative; 
	left: -20px; 
	top: -20px; 
	width: 32px;
	}

#info1 {
	position: absolute; 
	top: 20px; 
	}

#info2 {
	position: absolute; 
	top: 130px; 
	}

#info3 {
	position: absolute; 
	top: 240px; 
	}

#info4 {
	position: absolute; 
	top: 350px; 
	}

/* ***************************************************************************
	Accesos directos
*************************************************************************** */

#short1 {
	position: absolute; 
	left: 560px; 
	top: 10px; 
	width: 150px;
	background: maroon;
	}

#short2 {
	position: absolute; 
	left: 560px; 
	top: 95px; 
	width: 150px;
	background: green;
	}

#short3 {
	position: absolute; 
	left: 560px; 
	top: 180px; 
	width: 150px;
	background: red;
	}

#short4 {
	position: absolute; 
	left: 560px; 
	top: 265px; 
	width: 150px;
	background: orange;
	}

/* ***************************************************************************
	Menu de configuracion
*************************************************************************** */
#cfg1 {
	position: absolute; 
	left: 255px; 
	top: 95px; 
	background: black;
	}

#cfg2 {
	position: absolute; 
	left: 415px; 
	top: 95px; 
	background: red;
	}

#cfg3 {
	position: absolute; 
	left: 575px; 
	top: 95px; 
	background: olive;
	}

#cfg4 {
	position: absolute; 
	left: 95px; 
	top: 180px; 
	background: olive;
	}

#cfg5 {
	position: absolute; 
	left: 255px; 
	top: 180px; 
	background: maroon;
	}

#cfg6 {
	position: absolute; 
	left: 415px; 
	top: 180px; 
	background: green;
	}

#cfg7 {
	position: absolute; 
	left: 575px; 
	top: 180px; 
	background: lime;
	}

#cfg8 {
	position: absolute; 
	left: 95px; 
	top: 265px; 
	background: teal;
	}

#cfg9 {
	position: absolute; 
	left: 255px; 
	top: 265px; 
	background: black;
	}

#cfg10 {
	position: absolute; 
	left: 415px; 
	top: 265px; 
	background: purple;
	}

#cfg11 {
	position: absolute; 
	left: 575px; 
	top: 265px; 
	background: orange;
	}

/* ***************************************************************************
	listado de usuarios y abm
*************************************************************************** */
.abm-tb-access{
	font-weight: normal;
	}

#usr-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#usr-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	Configuracion de red
*************************************************************************** */
.result
{
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	background: #000;
}

	.ok {
		border-color: #6b6;
		background: #9f9;
	}
	
	.fail {
		border-color: #b66;
		background: #f99;
	}
	
	.unk {
		border-color: #cc6;
		background: #ff9;
	}

#config-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de hardware y abm
*************************************************************************** */
#hard-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#hard-reset {
	position: absolute; 
	left: 95px; 
	top: 265px; 
	background: fuchsia;
	}

#hard-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

#hw-conf {
	position: absolute; 
	left: 95px; 
	top: 180px; 
	background: maroon;
	}

#ass-add {
	position: absolute; 
	left: 95px; 
	top: 265px; 
	background: olive;
	}

/* ***************************************************************************
	listado de eventos y abm
*************************************************************************** */
#event-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#event-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de flags y abm
*************************************************************************** */
#flag-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#flag-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de grupos y abm
*************************************************************************** */
#group_members{
	width: 300px;
	}

#group-member-tb{
	text-align: center;
	}

#group-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#group-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de tareas y abm
*************************************************************************** */
#task-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#task-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de camaras y abm
*************************************************************************** */
#camera-add {
	position: absolute; 
	left: 95px; 
	top: 350px; 
	background: olive;
	}

#camera-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

.cam-list {
	width: 32px;
	height: 32px;
	border: 1px solid #333;
	}
/* ***************************************************************************
	Visualizacion de camaras
*************************************************************************** */
#viewcam {
	color: #000;
	position: absolute; 
	left: 255px; 
	top: 10px; 
	width: 500px;
	height: 400px;
	background: navy;
	border: 3px ridge #000;
	padding: 2px;
	z-index: 10;
	}

#camera-slide {
	width: 500px;
	height: 400px;
	}

#camselect {
	position: absolute; 
	left: 30px; 
	top: 200px; 
	width: 205px;
	height: 220px;
	border: 1px dotted #fff;
	}

.camselect-btn {
	position: absolute; 
	width: 90px;
	height: 60px;
	color: white;
	}
	
#btn-cam1 {
	left: 5px; 
	top: 5px; 
	border: 1px dotted #0f0;
	background: green;
	}

#btn-cam2 {
	left: 105px; 
	top: 5px; 
	border: 1px dotted #00f;
	background: blue;
	}

#btn-cam3 {
	left: 5px; 
	top: 75px; 
	border: 1px dotted #f00;
	background: red;
	}

#btn-cam4 {
	left: 105px; 
	top: 75px; 
	border: 1px dotted #fff;
	background: black;
	}

#btn-cam5 {
	left: 5px; 
	top: 150px; 
	border: 1px dotted #fff;
	background: black;
	}

#btn-cam6 {
	left: 105px; 
	top: 150px; 
	border: 1px dotted #fff;
	background: black;
	}

/* ***************************************************************************
	Configuracion de alarma
*************************************************************************** */
#alarm-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	Configuracion de sistema de riego
*************************************************************************** */
#riego-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	Configuracion de calefaccion y aire acondicionado
*************************************************************************** */
#clima-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	Detalle de alarma
*************************************************************************** */
.secure-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

.secure-display {
	text-align: center;
	}
	
#alarma1 {
	position: absolute; 
	left: 170px; 
	top: 95px; 
	width: 470px;
	background: green;
	}
	
#alarma2 {
	position: absolute; 
	left: 170px; 
	top: 180px; 
	width: 470px;
	background: green;
	}
	
#alarm-log-btn {
	position: absolute; 
	left: 170px; 
	top: 265px; 
	background: maroon;
	}
	
#alarm-cfg-btn {
	position: absolute; 
	left: 490px; 
	top: 265px; 
	background: teal;
	}
	
#alarm-dummy-btn {
	position: absolute; 
	left: 330px; 
	top: 265px; 
	background: black;
	}

#log-alarm-list {
	font-weight: normal;
	}
/* ***************************************************************************
	Configuracion del reloj
*************************************************************************** */
#clock-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	listado de alarmas
*************************************************************************** */
.log-alarm-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

/* ***************************************************************************
	Configuracion teclado numerico
*************************************************************************** */
#pass-keypad{
	position: absolute; 
	color: #000;
	top: 10px;
	left: 300px; 
	width: 285px;
	height: 375px;
	background: gray;
	border: 1px dotted #fff;
	padding: 2px;
	z-index: 10;
	}

.keypad-display{
	color: red;
	width: 220px;
	height: 75px;
	background: black;
	border: 3px ridge #000;
	padding: 2px;
	text-align: center;
	font-size: 75px;
	z-index: 10;
	}
	
#display-password{
	position: absolute; 
	top: 150px;
	left: 30px; 
	}

.keypad-key{
	color: #000;
	width: 75px;
	height: 75px;
	background: orange;
	border: 3px ridge #000;
	padding: 2px;
	text-align: center;
	font-size: 65px;
	z-index: 10;
	}

.keypad-status {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

#keypad-status {
	position: absolute; 
	left: 50px; 
	top: 300px; 
	width: 200px;
	background: teal;
	}

.keypad-zonas {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

#keypad-zonas-alarma1 {
	position: absolute; 
	left: 600px; 
	top: 10px; 
	width: 250px;
	background: green;
	}
	
#keypad-zonas-alarma2 {
	position: absolute; 
	left: 600px; 
	top: 95px; 
	width: 250px;
	background: green;
	}

/*
.keypad-key:hover{
	background: maroon;
	color: gray;
}
*/

#key1{
	position: absolute; 
	top: 10px;
	left: 10px; 
	}
	
#key2{
	position: absolute; 
	top: 10px;
	left: 100px; 
	}

#key3{
	position: absolute; 
	top: 10px;
	left: 190px; 
	}

#key4{
	position: absolute; 
	top: 100px;
	left: 10px; 
	}

#key5{
	position: absolute; 
	top: 100px;
	left: 100px; 
	}

#key6{
	position: absolute; 
	top: 100px;
	left: 190px; 
	}

#key7{
	position: absolute; 
	top: 190px;
	left: 10px; 
	}

#key8{
	position: absolute; 
	top: 190px;
	left: 100px; 
	}

#key9{
	position: absolute; 
	top: 190px;
	left: 190px; 
	}

#keyA{
	position: absolute; 
	top: 280px;
	left: 10px; 
	font-size: 55px;
	color: red;
	}

#key0{
	position: absolute; 
	top: 280px;
	left: 100px; 
	}

#keyB{
	position: absolute; 
	top: 280px;
	left: 190px; 
	font-size: 55px;
	color: green;
	}

/* ***************************************************************************
	Reboot
*************************************************************************** */
.reboot-text{
	color: white;
	text-align: center;
	}
	
/* ***************************************************************************
	Upload
*************************************************************************** */
#upload-submit{
	position: absolute; 
	left: 95px; 
	top: 350px; 
	}	

/* ***************************************************************************
	Menu de aplicaciones
*************************************************************************** */
#mapp1 {
	position: absolute;
	left: 255px;
	top: 95px;
	background: royalblue;
	}

#mapp2 {
	position: absolute;
	left: 415px;
	top: 95px;
	background: black;
	}

#mapp3 {
	position: absolute;
	left: 575px;
	top: 95px;
	background: seagreen;
	}

#mapp4 {
	position: absolute;
	left: 95px;
	top: 180px;
	background: hotpink;
	}

#mapp5 {
	position: absolute;
	left: 255px;
	top: 180px;
	background: red;
	}

#mapp6 {
	position: absolute;
	left: 415px;
	top: 180px;
	background: black;
	}

#mapp7 {
	position: absolute;
	left: 575px;
	top: 180px;
	background: black;
	}

#mapp8 {
	position: absolute;
	left: 95px;
	top: 265px;
	background: black;
	}

#mapp9 {
	position: absolute;
	left: 255px;
	top: 265px;
	background: black;
	}

#mapp10 {
	position: absolute;
	left: 415px;
	top: 265px;
	background: black;
	}

#mapp11 {
	position: absolute;
	left: 575px;
	top: 265px;
	background: black;
	}

/* ***************************************************************************
	Graficas de movimiento
*************************************************************************** */
.move-graph {
	z-index: 10;
	position: absolute;
	padding: 2px;
	border: 1px dotted #fff;
	color: white;
	}

#mvgraph1 {
	left: 20px;
	top: 100px;
    }

#mvgraph2 {
	left: 20px;
	top: 260px;
    }

#move-reference {
	z-index: 10;
	position: absolute;
	padding: 2px;
	border: 1px dotted #fff;
	color: white;
	left: 50px;
	top: 120px;
	width: 150px;
	height: 200px;
	}

#move-btn{
	position: absolute;
	left: 95px;
	top: 350px;
	}

/* ***************************************************************************
	Manejo de SMSs
*************************************************************************** */
.sms-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 1px dotted #fff;
	}

#sms1 {
	position: absolute;
	left: 95px;
	top: 180px;
	width: 150px;
	background: purple;
	cursor: pointer;
	}

#sms2 {
	position: absolute;
	left: 95px;
	top: 265px;
	width: 150px;
	background: olive;
	cursor: pointer;
	}

#sms3 {
	position: absolute;
	left: 95px;
	top: 350px;
	width: 150px;
	background: red;
	cursor: pointer;
	}

/* ***************************************************************************
	Manejo de VOZ*************************************************************************** */


#voz1 {
	position: absolute;
	left: 95px;
	top: 350px;
	width: 150px;
	background: red;
	cursor: pointer;
	}
