body {
    color: white; 
    background-color: black; 
    background-image: url("/images/power.gif"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    padding: 0; 
    margin: 0;
}

#reloj {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 25px; 
	width: 250px;
	height: 75px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 64px;
    text-align: center;
}

#temp_actual {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 200px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#humedad {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 230px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#presion {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 260px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#condiciones {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 310px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#temp_max {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 340px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}

#temp_min {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 370px; 
	width: 250px;
	height: 20px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 14px;
    text-align: center;
}
