body {
    color: white; 
    background-color: black; 
    background-image: url("/images/power.gif"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    padding: 0; 
    margin: 0;
}

#reloj {
	z-index: 10;
	position: absolute; 
	left: 25px; 
	top: 25px; 
	width: 280px;
	height: 90px;
	padding: 2px;
	border: 1px dotted #fff;
	background: black;
	color: white;
	cursor: pointer;
    font-size: 75px;
    text-align: center;
}

.clima {
	z-index: 10;
	position: absolute; 
	width: 100px;
	height: 200px;
	padding: 2px;
	border: 1px dotted blue;
	background: white;
	color: black;
	cursor: pointer;
    font-size: 18px;
    text-align: center;
}

#clima_interior {
	left: 25px; 
	top: 200px; 
}

#clima_exterior {
	left: 225px; 
	top: 200px; 
}
