/* https://www.w3schools.com/css/default.asp */

body {
    color: white; 
    background-color: black; 
    /*background-image: url("/images/power.gif");*/ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    padding: 0; 
    margin: 0;
}

#reloj {
	z-index: 10;
	margin:auto;
	margin-top: 10px;
	text-align: center;
	width: 600px;
	/*height: 50%;*/
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	border: 1px dotted white;
	background: darkslateblue;
	color: white;
	font-family: 'Courier New', monospace;
	font-weight: bold;
    font-size: 100px;
}

#info_container {
	z-index: 10;
	margin:auto;
	margin-top: 20px;
	width: 600px;
	/*height: 50%;*/
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	border: 1px dotted white;
	background: darkslateblue;
}

#calendario {
	z-index: 10;
	width: 175px;
	height: 250px;
	border: 1px dotted green;
	background: black;
	color: white;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
}

.clima {
	z-index: 10;
	width: 175px;
	height: 250px;
	border: 1px dotted green;
	background: black;
	color: white;
    font-size: 24px;
    text-align: center;
	border-radius: 10px 10px 10px 10px;
}

/*
#clima_interior {

}

#clima_exterior {

}
*/

#dia_semana {
	color:darkorange;
    text-align: center;
    font-size: 40px;
}

#fecha {
	color: white;
	text-align: center;
	font-family: 'Courier New', monospace;
	font-weight: bold;
    font-size: 80px;
}

#mes {
	color:skyblue;
    text-align: center;
    font-size: 40px;
}

.weather-icon {
	border: 0px;
	width: 64px;
	height: 64px;
	}
