/* https://www.w3schools.com/css/default.asp */

body {
    color: white;
    background-color: #BDB2B2; 
    /*background-image: url("/images/power.gif");*/ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    overflow: hidden;
    padding: 0; 
    margin: 0;
}

#reloj {
	z-index: 15;
	margin: auto;
	position: absolute;
    left: calc( 50% - 380px );
	top: 10px;
	width: 230px;
	height: 400px;
	text-align: center;
	padding: 10px;
	border-radius: 25px 25px 25px 25px;
	/*border: 1px dotted white;*/
	background: white;
	color: black;
	font-family: 'Courier New', monospace;
	font-weight: bold;
    font-size: 100px;
}

#sombra-reloj {
	z-index: 10;
	margin: auto;
	position: absolute;
    left: calc( 50% - 370px );
	top: 20px;
	width: 230px;
	height: 400px;
	text-align: center;
	padding: 10px;
	border-radius: 25px 25px 25px 25px;
	/*border: 1px dotted white;*/
	background: #FFC581;
	color: white;
}

#clima-descripcion {
	z-index: 15;
	position: absolute;
    left: calc( 50% - 90px );
	top: 25px;
	width: 440px;
	height: 100px;
	/*border: 1px dotted green;*/
	background: white;
	color: black;
    font-size: 24px;
    text-align: center;
	padding: 10px;
	border-radius: 25px 25px 25px 25px;
}

#clima-descripcion-sombra {
	z-index: 10;
	position: absolute;
    left: calc( 50% - 100px );
	top: 20px;
	width: 480px;
	height: 130px;
	/*border: 1px dotted green;*/
	background: #FFC581;
	color: black;
    font-size: 24px;
    text-align: center;
	border-radius: 25px 25px 25px 25px;
}

#clima-interior {
	z-index: 10;
	position: absolute;
    left: calc( 50% - 100px );
	top: 160px;
	width: 230px;
	height: 280px;
	/*border: 1px dotted green;*/
	background: #FFC581;
	color: black;
    font-size: 24px;
    text-align: center;
	border-radius: 25px 25px 25px 25px;
}

#clima-exterior {
	z-index: 10;
	position: absolute;
    left: calc( 50% + 150px );
	top: 160px;
	width: 230px;
	height: 280px;
	/*border: 1px dotted green;*/
	background: #FFC581;
	color: black;
    font-size: 24px;
    text-align: center;
	border-radius: 25px 25px 25px 25px;
}

#div-hora {
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 90px;
}

#div-minuto {
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 90px;
}

#div-dia-semana {
	color:#B48042;
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 55px;
}

#div-dia {
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 50px;
}

#div-mes {
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 50px;
}

.clima-descripcion-image {
	width: 110px;
	height: 95px;
}

.clima-descripcion-text {
	width: 320px;
	font-family: 'Binggo wood';
	font-weight: bold;
    font-size: 50px;
	text-align: center;
}

.clima-interior {
	font-family: 'Flatori slab semicondensed';
	font-weight: bold;
    font-size: 30px;
}

.clima-exterior {
	font-family: 'Flatori slab semicondensed';
	font-weight: bold;
    font-size: 30px;
}

.weather-icon {
	border: 0px;
	width: 96px;
	height: 96px;
	}

.zone-icon {
	border: 0px;
	width: 128px;
	height: 128px;
	}
