DOMPIWEB_SERVER=127.0.0.1
#SQLITE_DB_FILENAME=/var/lib/DomPiWeb/.DomPiWebDB.sqll3

CGI-TIMEOUT=10
INTERNAL-TIMEOUT=2
EXTERNAL-TIMEOUT=12

TRACE-ABMALARMA.CGI=0
TRACE-ABMASSIGN.CGI=0
TRACE-ABMAT.CGI=0
TRACE-ABMAUTO.CGI=0
TRACE-ABMEV.CGI=0
TRACE-ABMGROUP.CGI=0
TRACE-ABMHW.CGI=0
TRACE-ABMSYS.CGI=0
TRACE-ABMUSER.CGI=0
TRACE-ABMCAM.CGI=0
TRACE-INFOIO.CGI=0
TRACE-STATUSIO.CGI=0
TRACE-GETSAF.CGI=0
TRACE-MOBILE.CGI=0
TRACE-ABMMSGIR.CGI=0

GSM-PORT=/dev/ttyUSB1

SMS_POOL_FILES=/var/lib/DomPiWeb/sms/

DBHOST=127.0.0.1
DBNAME=DB_DOMPIWEB
DBUSER=dompi_web
DBPASSWORD=dompi_web

BACKUP=
